# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/

# Build
build/
dist/

# Temp
tmp/
temp/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeORM
ormconfig.json